@media screen and (max-width: 1021px) {
    .banner {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    nav .links {
        display: none;
    }

    .banner {
        width: 100%;
    }

    .banner-description {
        width: 100%;
        text-align: center;
        font-size: 13px;
    }

    .banner-images img {
        width: 25%;
        /* margin-left: 3%; */
    }

    .container {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .navbar .logo {
        width: 50%;
    }

    .logo img {
        width: 70%;
        margin: auto;
    }

    .hamburger-menu {
        display: flex;
        width: 20%;
        justify-content: center;
    }

    .third {
        width: 20%;

    }

    .hamburger-menu button {
        outline: none;
        border: none;
        /* color: #f0f4f6; */
    }

    .hamburger-menu span {
        right: 0;
        font-size: 20px;
    }


}

@media screen and (max-width:940px) {
    
    .scnd-ads {
        width: 49%;
        margin-right: 0.5%;
    }


}
    @media screen and (max-width:817px) {
        article{
            margin: 0;

        }
    }

@media screen and (max-width:784px) {

    .banner {
        display: block;
        justify-content: center;

    }

    .banner-description {
        margin: auto;
        padding: 3% auto;
    }

    .banner-images {
        max-width: 600px;
        margin: auto;
        padding: 30px 0;
    }

    

    .scnd-ads {
        width: 49%;
        margin: 0.5%;
        justify-content: space-between;
    }

    .footer .bigger {
        display: block;
        margin: auto;
    }

    .footer .right {
        width: 100%;
        justify-content: space-between;
    }

    .footer .frst {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 640px) {

    .banner-description {
        width: 90%;
        text-align: center;
        font-size: 13px;
        margin: auto;
    }
    .banner-images{
        width: 100%;
        max-width: 400px;
    }

    .scnd-ads {
        width: 96%;
        justify-content: center;
        margin: auto;
    }

    .footer .bigger .right {
        display: block;
        width: 100%;
    }

    .right .workout-line {
        border-top: 1px solid grey;
    }

    .footer .smaller {
        display: flex;
        flex-direction: column-reverse;

        justify-content: left;
    }

}

@media screen and (max-width: 400px) {
    .banner {
        width: 100%;
        margin: auto;
        padding: 20px;
    }

    .banner-images {
        display: none;
    }
}